body {
	background-color: #42c97a;
	color: #e74646;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	border: 1px solid #000;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0px 0px 11px 2px rgb(89, 100, 179);
}

form {
	padding: 4.5rem;
	display: flex;
	justify-content: center;
	text-align: center;
	border: 1px solid #000;
	border-radius: 1rem;
	flex-direction: column;
	box-shadow: 0px 0px 11px 2px rgb(14, 25, 112);
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.input-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	justify-items: center;
	align-items: center;
}

label,
input {
	grid-column: span 1;
}

form * {
	padding: 3px;
}

#confirm {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 4rem;
}

#dziennik {
	display: flex;
	justify-content: space-evenly;
	padding: 1rem;
}

#czas-trwania {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

button {
	width: 150px;
	height: 40px;
	border: none;
	border-radius: 1.4rem;
}

label {
	margin: 10px;
}

button:hover {
	background-color: gray;
}

button:active {
	background-color: #5a5a5a;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 1.3rem;
}

#zajec-dziennik > fieldset {
	margin: 3rem;
}

#radio {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#sprawozdanie {
	height: 70px;
	width: 400px;
}

#sprawozdanie-label {
	display: flex;
	justify-content: center;
	align-items: center;
}

#logbook {
	padding: 3rem;
}

table {
	border-collapse: collapse;
	border: 1px solid white;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

th,
td {
	border: 1px solid white;
	padding: 5px;
	text-align: center;
}

th {
	font-weight: bold;
}

#container {
	border: 1px solid #000;
	box-shadow: 0px 0px 11px 2px rgba(177, 179, 195, 1);
	font-size: 0.6rem;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.hidden {
	display: none;
}

#editButton {
	margin: 10px;
	padding: 10px;
}

#buttons {
	margin-top: 3.5rem;
	display: flex;
	justify-content: space-evenly;
}

#red-button {
	background-color: #d9001d;
	border-radius: 1rem;
	box-sizing: border-box;
	color: #fff;
	font-size: 1.5rem;
	line-height: 20px;
	padding : 5px 15px;
	text-align: center;
	}
	
	#red-button:hover {
	background-color: #990014;
	}
	
	#red-button:active {
	background-color: #8c0013;
	}
	
	#green-button {
	background-color: #3a6152;
	border-radius: 1rem;
	box-sizing: border-box;
	color: #fff;
	font-size: 1.5rem;
	line-height: 20px;
	padding: 5px 15px;
	text-align: center;
	}
	
	#green-button:hover {
	background-color: #0e4732;
	}
	
	#green-button:active {
	background-color: #0f3325;
	}
